<html>
<head>
    <title>Categorizer</title>
    <link rel="stylesheet" href="/compiled/styles.css">
    <%- include('createProfilePage') %>
</head>
<body>
    <div id="top-bar">
        <button id="create-profile-button"><span>Create Profile!</span></button>
        <img class="logo" src="resources/logo-white.png"></img>
        <div class="search-container">
            <input type="text" placeholder=" Search for an interest.. (reading, hiking, LGBTQ, liberal, conservative, geocaching, etc)" class="search-bar">
        </div>
    </div>
    <div class="grid-container">
        <div class="grid">
            <div class = "grid_element" style = "background-image: url('https://placekeanu.com/600/601')">
            </div>
            <div class = "grid_element" style="background-image: url('https://placekeanu.com/451/450')">
            </div>
            <div class = "grid_element" style="background-image: url('https://placekeanu.com/456/456')">
            </div>
            <div class = "grid_element" style="background-image: url('https://placekeanu.com/456/460')">
            </div>
            <div class = "grid_element" style="background-image: url('https://placekeanu.com/599/599')">
            </div>
            <div class = "grid_element" style="background-image: url('https://placekeanu.com/455/454')">
            </div>
            <div class = "grid_element" style="background-image: url('https://placekeanu.com/459/458')">
            </div>
            <div class = "grid_element" style="background-image: url('https://placekitten.com/451/456')">
            </div>
        </div>
    </div>
</body>
</html>
<script src="homePageController.js"></script>
