
#top-bar {
    margin: 15 auto;
    text-align: center;
    .logo {
        margin-left: 10px;
    }
    .search-bar {
        vertical-align: top;
        margin-top: 17px;
        margin-left: 45px;
        width: 700px;
        height: 39px;
    }
    button {
        height: 50px;
        width: 100px;
        margin-left: -100px;
        margin-top: 13px;
        float: right;
        vertical-align: top;
        font-size: 15px;
        background-color: cyan;
        font-family: monospace;
        border: 1px solid grey;
    }
}

#top-bar > .search-container {
    display: block;
    white-space: nowrap;
}

html {
    background-color: #020202;
}

body {
    min-width: 650px;
}

.grid_element {
    background: rgba(0,0,0,0.1);
    border: 1px white solid;
    background-position:top;
    background-size:contain;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 35px;
    img {
        width: 100%;
    }
}

.grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
  